* {
	margin: 0;
	left: 0;
	text-decoration: none;
	list-style: none;
}

body {
	background: url(../img/bg.jpg) no-repeat;
}

/* 侧栏布局 */
.left-sidebar {
	float: left;
	background: #2c3e50;
	height: 100vh;
	width: 250px;
	text-align: center;
}

/* 侧栏头像 */
.left-sidebar img {
	border-radius: 50%;
	width: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	transition: 1s;
}

.left-sidebar img:hover {
	transform: rotate(360deg);
}

/* 侧栏栏目 */
.left-sidebar .sidebar-list {
	padding: 30px;
	position: relative;
}

.left-sidebar .sidebar-list a:before {
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: #27ae60;
	left: 0;
	top: 0;
	transition: 0.3s;
	opacity: 0;
}

.left-sidebar .sidebar-list a:hover:before {
	opacity: .8;
}

.left-sidebar .sidebar-list:hover {
	background: #34495e;
}

.left-sidebar a {
	color: white;
	font-size: 25px;
	font-family: "微软雅黑";
	transition: .5s;
}

.left-sidebar a:hover {
	color: #7f8c8d;
}

/* 选中状态 */
#current-page {
	background: #34495e;
	cursor: default;
}
#current-page a:before {
	opacity: .8;
}
#current-page a {
	color: #7f8c8d;
	cursor: default;
}

/* 右侧主内容 */
.container {
	color: white;
}

/* 页脚 */
footer {
	position: fixed;
	background: white;
	clear: both;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
}
