* {
  margin: 0;
  left: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

.left-sidebar {
  float: left;
  background: #2980b9;
}

.left-sidebar img {
  border-radius: 50%;
}

.container {
}

footer {
  clear: both;
}
